<!doctype html>
<html lang="en">
<head>
    <title>{$title|default = 'Home'}</title>

    <block name = "css">                        <!--CSS的Block-->

    </block>

    <include file="Public/head" home="首页"/>                <!--头部信息-->

</head>
<body>
<include file="Public/navbar"/>                             <!--导航信息-->


<block name="content">                          <!--内容的Block-->
    content!!!
</block>


<include file="Public/js"/>                                  <!--js部分导入-->


<block name = "js">                             <!--JS的Block-->

</block>
</body>
</html>